/* CSS para el cuestionario */

body {
  font-family: Arial, sans-serif;
  background-color: rgb(128, 196, 219);

  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-y: auto; /* Permite desplazamiento vertical si el contenido es más alto que la ventana */
}

#page-container {
  text-align: center;
  background-color: #ffffff; /* Fondo blanco para el contenedor */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  padding: 20px;
  width: 90%;
  max-width: 600px; /* Ancho máximo */
  max-height: 80vh; /* Altura máxima */
  overflow-y: auto; /* Permite desplazamiento vertical en el contenedor */
}

/* Estilo para el título del proyecto */
#proyecto {
  font-size: 2em;
  background-color: #f4bfbf; /* Color de fondo claro */
  border-radius: 50%; /* Hacer el título circular */
  padding: 20px;
  display: inline-block;
  margin-bottom: 20px;
}

/* Estilo para las preguntas */
h3 {
  color: #333; /* Color de texto oscuro */
}

/* Estilo para los botones de respuesta */
.btn-respuesta {
  background-color: #79eaee; /* Color de fondo claro */
  color: #333; /* Color de texto oscuro */
  border: none;
  border-radius: 5px; /* Bordes redondeados */
  padding: 10px;
  margin: 5px;
  width: 40px; /* Botones más pequeños y cuadrados */
  height: 40px; /* Altura para mantener la forma cuadrada */
  cursor: pointer;
  transition: background-color 0.3s; /* Transición suave para el fondo */
  
}

.btn-respuesta:hover {
  background-color: #4fc3f7; /* Color de fondo más oscuro al pasar el mouse */
}

#button-siguiente {
  background-color: #4caf50; /* Color de fondo verde */
  color: white; /* Color de texto blanco */
  padding: 10px 20px; /* Espaciado alrededor del texto */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar */
  transition: background-color 0.3s; /* Transición suave para el fondo */
}

#button-siguiente:hover {
  background-color: #388e3c; /* Color más oscuro al pasar el mouse */
}

/* Estilo para el marcador */
h2 {
  color: #333; 
}

table {
  width: 100%; 
  margin-top: 20px; 
}

td {
  padding: 10px;
  border-bottom: 1px solid #ccc; 
}

/* Estilo para la página inicial */
label {
  display: block; 
  margin: 10px 0;
}

input[type="text"], input[type="number"] {
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 5px;
  width: calc(100% - 22px); 
}

button {
  background-color: #90caf9; 
  color: #333;
  border: none;
  border-radius: 5px; 
  padding: 10px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
  margin-top: 30px;
  margin-bottom: 20px; 
}

button:hover {
  background-color: #64b5f6; 
}
